<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="SistemaQueueTareasContext"
		 connectionString="metadata=res://*/SistemaQueueTareasContext.csdl|res://*/SistemaQueueTareasContext.ssdl|res://*/SistemaQueueTareasContext.msl;
			provider=System.Data.SqlClient;
			provider connection string=&quot;
			data source=127.0.0.1,1433;
			initial catalog=SistemaQueueTareas;
			persist security info=True;
			user id=sa;
			password=PatientAntlerTeaselEnquiry#3;
			encrypt=False;
			trustservercertificate=True;
			MultipleActiveResultSets=True;
			App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
</connectionStrings>
