<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="SistemaQueueTareasContext"
		connectionString="metadata=res://*/SistemaQueueTareasContext.csdl|res://*/SistemaQueueTareasContext.ssdl|res://*/SistemaQueueTareasContext.msl;
			provider=System.Data.SqlClient;
			provider connection string=&quot;
			data source=YourServer;
			initial catalog=SistemaQueueTareas;
			persist security info=True;
			user id=sa;
			password=YourPassword;
			encrypt=False;
			trustservercertificate=True;
			MultipleActiveResultSets=True;
			App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
	
	<add name="IdentityConnection"
     	connectionString="Server=YourServer;
			Database=SistemaQueueTareas;
			User Id=sa;
			Password=YourPassword;
			MultipleActiveResultSets=True"
		providerName="System.Data.SqlClient" />
</connectionStrings>
